@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-item_viewdproduct {
    width: 95% !important;
    box-shadow: 4px 7px 12px -6px black;
    margin: 27px 169px;
}

.countact_usFiled {
    border: 1px solid black;
    padding: 13px;
    border-radius: 4px;
}

.inquiryform {
    background: white;
    box-shadow: 0px 1px 7px -3px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}